@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Ubantu;
  src: url('./assets/fonts/Ubuntu-Medium.ttf') format("truetype");
  font-display: swap;
}
/* custom clerk avatar class  */
/* .cl-avatarBox{
  width: 2.5rem;
  height: 2.5rem;
} */
